{
  "presets": ["@babel/preset-env", "@babel/preset-typescript"],
  "plugins": [
    [
      "@babel/plugin-proposal-class-properties",
      {},
      "https://stackoverflow.com/a/52841656/2410641"
    ]
  ]
}
