<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <application tools:ignore="AllowBackup">

    <meta-data
      android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
      android:value="com.github.ashutoshgngwr.noice.cast.CastOptionsProvider" />

  </application>

</manifest>
