<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <uses-feature
    android:name="android.hardware.audio.output"
    android:required="true" />

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

  <uses-permission android:name="android.permission.INTERNET" />

  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

  <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

  <uses-permission android:name="android.permission.WAKE_LOCK" />

  <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

  <application
    android:name="com.github.ashutoshgngwr.noice.NoiceApplication"
    android:allowBackup="false"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.App"
    android:usesCleartextTraffic="false"
    tools:ignore="AllowBackup,GoogleAppIndexingWarning">

    <activity
      android:name=".activity.MainActivity"
      android:exported="true"
      android:launchMode="singleTask">

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>

      <intent-filter>

        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
          android:host="trynoice.com"
          android:path="/preset"
          android:scheme="https" />

      </intent-filter>

      <intent-filter>

        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
          android:host="preset"
          android:scheme="noice" />

      </intent-filter>

      <intent-filter>

        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
          android:host="subscriptions"
          android:scheme="noice" />

      </intent-filter>

    </activity>

    <activity
      android:name=".activity.AppIntroActivity"
      android:theme="@style/Theme.Material3.Dark.NoActionBar" />

    <activity
      android:name=".activity.ShortcutHandlerActivity"
      android:excludeFromRecents="true"
      android:exported="true"
      android:theme="@style/Theme.App.Translucent" />

    <activity
      android:name=".activity.AlarmRingerActivity"
      android:excludeFromRecents="true"
      android:launchMode="singleInstance" />

    <activity
      android:name=".activity.SignInLinkHandlerActivity"
      android:excludeFromRecents="true"
      android:exported="true"
      android:theme="@style/Theme.App.SignInLinkHandler">

      <intent-filter android:autoVerify="true">

        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
          android:host="trynoice.com"
          android:path="/sign-in"
          android:scheme="https" />

      </intent-filter>

      <intent-filter>

        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
          android:host="sign-in"
          android:scheme="noice" />

      </intent-filter>

    </activity>

    <service
      android:name=".engine.PlaybackService"
      android:foregroundServiceType="mediaPlayback" />

    <service
      android:name=".engine.exoplayer.SoundDownloadService"
      android:exported="false"
      android:foregroundServiceType="dataSync">

      <intent-filter>
        <action android:name="com.google.android.exoplayer.downloadService.action.RESTART" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>

    </service>

    <service android:name=".service.SubscriptionStatusPollService" />

    <receiver
      android:name=".WakeUpTimerManager$BootReceiver"
      android:exported="true">

      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>

    </receiver>

    <provider
      android:name="androidx.startup.InitializationProvider"
      android:authorities="${applicationId}.androidx-startup"
      android:exported="false"
      tools:node="merge">

      <meta-data
        android:name="androidx.work.WorkManagerInitializer"
        android:value="androidx.startup"
        tools:node="remove" />

    </provider>

  </application>

</manifest>
