<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.github.ashutoshgngwr.noice">

  <uses-feature
    android:name="android.hardware.audio.output"
    android:required="true" />

  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

  <uses-permission android:name="android.permission.WAKE_LOCK" />

  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

  <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.App"
    tools:ignore="AllowBackup,GoogleAppIndexingWarning">

    <activity
      android:name=".MainActivity"
      android:launchMode="singleTask">

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>

    </activity>

    <activity
      android:name=".AppIntroActivity"
      android:theme="@style/Theme.MaterialComponents.NoActionBar" />

    <activity
      android:name=".ShortcutHandlerActivity"
      android:excludeFromRecents="true" />

    <service android:name=".MediaPlayerService" />

    <receiver android:name=".WakeUpTimerManager$BootReceiver">

      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>

    </receiver>

  </application>

</manifest>
