name: Android
on:
  push:
    branches:
      - main
      - "[0-9]+.[0-9]+.x"
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"
    paths:
      - ".github/workflows/android.yaml"
      - "api-client/**"
      - "app/**"
      - "gradle/**"
      - "**.gradle"
      - "gradle.properties"
      - "gradlew"
      - "gradlew.bat"
  pull_request:
    branches:
      - main
      - "[0-9]+.[0-9]+.x"
    paths:
      - ".github/workflows/android.yaml"
      - "api-client/**"
      - "app/**"
      - "gradle/**"
      - "**.gradle"
      - "gradle.properties"
      - "gradlew"
      - "gradlew.bat"

env:
  JAVA_VERSION: 11

jobs:
  validate-gradle-wrapper:
    name: Validate Gradle Wrapper
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v3
      - uses: gradle/wrapper-validation-action@v1

  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: ${{ env.JAVA_VERSION }}
          cache: gradle
      - run: ./gradlew :api-client:lintDebug :app:lintFreeDebug :app:lintFullDebug --no-daemon
      - if: ${{ always() }}
        uses: yutailang0119/action-android-lint@v3
        with:
          report-path: "**/build/reports/*.xml"

  api-client-unit-tests:
    name: API Client Unit Tests
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: ${{ env.JAVA_VERSION }}
          cache: gradle
      - run: ./gradlew :api-client:testDebugUnitTest --no-daemon
      - uses: codecov/codecov-action@v1
        with:
          flags: api-client

  app-unit-tests:
    name: App Unit Tests
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: ${{ env.JAVA_VERSION }}
          cache: gradle
      - run: ./gradlew :app:testDebugCoverage --no-daemon
      - uses: codecov/codecov-action@v1
        with:
          flags: app

  app-ui-tests:
    name: App UI tests
    if: ${{ false }} # TODO: disabled until app ui tests are fixed.
    runs-on: macos-latest
    timeout-minutes: 60
    strategy:
      matrix:
        include:
          - android: 28
            target: default
            gradleTask: :app:createFreeDebugCoverageReport
          - android: 28
            target: google_apis
            gradleTask: :app:createFullDebugCoverageReport
      fail-fast: false
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: ${{ env.JAVA_VERSION }}
          cache: gradle
      - uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: ${{ matrix.android }}
          target: ${{ matrix.target }}
          arch: x86_64
          ram-size: 3072M
          script: ./scripts/run-ui-tests.sh ${{ matrix.gradleTask }}
          emulator-options: >-
            -no-boot-anim -no-audio -no-snapshot -no-window -camera-back none
            -camera-front none -gpu swiftshader_indirect
      - uses: codecov/codecov-action@v1
        with:
          flags: app

  deploy-app-play-store:
    name: Deploy App - Play Store
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
    needs:
      - validate-gradle-wrapper
      - lint
      - api-client-unit-tests
      - app-unit-tests
      # TODO: disabled until app tests are fixed.
      # - app-ui-tests
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v3
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: ${{ env.JAVA_VERSION }}
          cache: gradle
      - run: bundle install
      - run: |
          echo "$SERVICE_ACCOUNT_KEY" > service-account-key.json
          echo "$JKS_STORE" | base64 --decode > keystore.jks
        env:
          SERVICE_ACCOUNT_KEY: ${{ secrets.SERVICE_ACCOUNT_KEY }}
          JKS_STORE: ${{ secrets.JKS_STORE }}
      - run: bundle exec fastlane beta
        env:
          STORE_PASSWORD: ${{ secrets.JKS_STORE_PASSWORD }}
          KEY_ALIAS: ${{ secrets.JKS_ALIAS }}
          KEY_PASSWORD: ${{ secrets.JKS_ALIAS_PASSWORD }}
      - if: ${{ always() }}
        run: rm -f service-account-key.json keystore.jks

  deploy-app-github:
    name: Deploy App - GitHub
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
    needs:
      - validate-gradle-wrapper
      - lint
      - api-client-unit-tests
      - app-unit-tests
      # TODO: Disabled until app tests are fixed.
      # - app-ui-tests
    runs-on: ubuntu-latest
    timeout-minutes: 30
    env:
      FULL_APK: noice-full.apk
      FULL_MAPPING: noice-full-mapping.txt
      FREE_APK: noice-free.apk
      FREE_MAPPING: noice-free-mapping.txt
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: ${{ env.JAVA_VERSION }}
          cache: gradle
      - run: git fetch --prune --unshallow --tags -f
      - run: ./scripts/create-github-release-artifacts.sh
        env:
          JKS_STORE: ${{ secrets.JKS_STORE }}
          STORE_PASSWORD: ${{ secrets.JKS_STORE_PASSWORD }}
          KEY_ALIAS: ${{ secrets.JKS_ALIAS }}
          KEY_PASSWORD: ${{ secrets.JKS_ALIAS_PASSWORD }}
      - id: tag_info
        run: |
          export TAG_NAME="${GITHUB_REF/'refs/tags/'/''}"
          export TAG_BODY="$(git tag  --list --format='%(contents:body)' $TAG_NAME)"
          export TAG_BODY="${TAG_BODY//'%'/'%25'}"
          export TAG_BODY="${TAG_BODY//$'\n'/'%0A'}"
          export TAG_BODY="${TAG_BODY//$'\r'/'%0D'}"
          echo "::set-output name=name::${TAG_NAME}"
          echo "::set-output name=body::${TAG_BODY}"
      - uses: softprops/action-gh-release@v1
        with:
          token: ${{ secrets.BOT_PAT }}
          name: v${{ steps.tag_info.outputs.name }}
          body: ${{ steps.tag_info.outputs.body }}
          files: |
            ${{ env.FREE_APK }}
            ${{ env.FREE_MAPPING }}
            ${{ env.FULL_APK }}
            ${{ env.FULL_MAPPING }}
