name: Fastlane Metadata
on:
  push:
    branches:
      - main
      - "[0-9]+.[0-9]+.x"
    paths:
      - "fastlane/**"
      - ".github/workflows/fastlane-metadata.yaml"
  pull_request:
    branches:
      - main
      - "[0-9]+.[0-9]+.x"
    paths:
      - "fastlane/**"
      - ".github/workflows/fastlane-metadata.yaml"

jobs:
  validate:
    name: Validate
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v3
      - uses: ashutoshgngwr/validate-fastlane-supply-metadata@v2
        with:
          usePlayStoreLocales: true

  play-store-upload:
    name: Play Store Upload
    needs: validate
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
      - uses: actions/checkout@v3
      - run: bundle install
      - run: echo "$SERVICE_ACCOUNT_KEY" > service-account-key.json
        env:
          SERVICE_ACCOUNT_KEY: ${{ secrets.SERVICE_ACCOUNT_KEY }}
      - run: bundle exec fastlane upload_metadata
      - if: ${{ always() }}
        run: rm -f service-account-key.json
